nav {
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  box-shadow: 3px 3px 3px darkgray;
}

#logo {
  position:fixed;
  top: 30px;
  left:10px;
  width: 190px;
}

#main {
  margin-top: 200px;
}


@media only screen and (max-width: 736px) {

  nav {
    height: 50px;
  }

  nav a {
    display:inline-block;
    width: 30%;
    float: left;
    margin-left: 3%;
  }

  #logo {
    position:fixed;
    top: 10px;
    left:10px;
    width: 40px;
  }

  #main {
    margin-top: 50px;

  }


}
