<h1>Portland Trail Blazers</h1>
<div class='container'>
  <div class='form-group'>
    <label for="search" class='text-center'>Search</label>
    <input class='form-control' (change)="onChange($event.target.value)" #search id="search" placeholder="type name or position or uniform number"><br>
  </div>
  <div class="card" *ngFor="let member of members | async | nameFilter:userInput" (click)="goToDetail(member)">
    <img class="card-img-top member-img" src={{member.picUrl}} alt="member.name">
    <div class="card-block">
      <h4 class="card-title">{{ member.name}}</h4>
      <p class="card-text description">See detail</p>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-member [member]="member"></app-edit-member>
      </div>
    </div>
  </div>
</div>
