.description {
  overflow: hidden;
}

.member-img {
  height: 190px;
  width: 260px;
}

.card {
  margin-bottom: 20px;
  margin-right: 5px;
  width: 270px;
  float: right;
  box-shadow: 1px 2px 2px 2px black;
}
