<h1>Index</h1>

<label for="search">Search</label>
<input (change)="onChange($event.target.value)" #search id="search">


<div *ngIf="search">
  <div class="card" *ngFor="let member of members | async" (click)="goToDetail(member)">
    <img class="card-img-top member-img" src={{member.picUrl}} alt="member.name">
    <div class="card-block">
      <h4 class="card-title">{{ member.name}}</h4>
      <p class="card-text description">See detail</p>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-member [member]="member"></app-edit-member>
      </div>
    </div>
  </div>
</div>

<!-- nameFilter:userInput" -->
